.noteCard{
    width: 28%;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.title{
    font-weight: bold;
}

.readMore{
    color: rgb(48, 108, 206);
    text-decoration: none;
    cursor: pointer;
}

.actionButtonsContainer{
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; 
    gap: 12px;
}

.actionIcon{
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .noteCard{
        width: 95%;
    }
}

@media screen and (min-width: 768px)  and (max-width : 1023px){
    .noteCard{
        width: 42%;
    }
}
